here is the code from lab 10

In [8]:
import os
#os.system("conda activate new386")
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px

st.title('All the Drama')
df = pd.read_csv('mdl_final.csv')

selected_year = st.selectbox('Select a year', df['year'].unique())
year_df = df[df['year'] == selected_year]

# Sorting and selecting top 5 names for the selected year
top_names = year_df.sort_values(by='viewer_score', ascending=False).head(5)[['title', 'viewer_score']]
top_names.reset_index(drop=True, inplace=True)
top_names = top_names.rename(columns={'title': 'Show Title', 'viewer_score': 'Score (out of 10)'})

# Display the top shows for the selected year
st.write(f"Top Shows in {selected_year}")
st.dataframe(top_names)

DeltaGenerator()

In [9]:
top_names

                       title  viewer_score
0       Twinkling Watermelon           9.2
1                     Moving           9.1
2           The Glory Part 2           9.0
3      Dr. Romantic Season 3           9.0
4  Oh No! Here Comes Trouble           9.0